- name : Configuration of my repo in vm
  hosts: azure-vm
  remote_user: azureuser
  become: yes
  become_method: sudo

  tasks:
    - name: Installing git
      apt: 
        name: git
        update_cache: yes
    
    - name: Installing pip
      apt:
        name: python-pip
        update_cache: yes
  
    - name: Installing pip3
      apt:
        name: python3-pip
        update_cache: yes

    - name: Installing postgres
      apt:
        name: postgresql
        update_cache: yes

    # - name: create directory
    #   file:
    #     path: ./project-app
    #     state: directory

    - name : install python package flask
      pip:
        name: 
          - flask
          - psycopg2-binary
          - python-dotenv


    - name: set postgres password
      become: yes
      become_method: sudo
      become_user: postgres
      postgresql_user:
        name: "postgres"
        password: "123"
        db: postgres

    
    - name: clone repo git
      git:
        repo: https://github.com/Marwacoding/acible-test.git
        dest: /home/azureuser/project-app

    - name: added .env
      copy:
        src: "/Users/marwamajbri/Desktop/simplon/ancible-test-flask/.env"
        dest: ./project-app


    - name: Run my flask script
      command: python ./project-app/flask_api.py
        #executable: python

    - name: Run my postgres script
      script: /Users/marwamajbri/Desktop/simplon/ancible-test-flask/flask_api.py
      args:
        executable: python
